<%- include('partials/header')-%>
<h1>Compose</h1>
<form action="/compose" method="post" autocomplete="off">
    <div class="form-group">
        <h6>Title</h6>
        <input type="text" class="form-control" name="postTitle" placeholder="Enter Title">
        <h6>Post</h6>
        <textarea class="form-control" name= "postBody" rows="3" placeholder="Type Post Here"></textarea>
        
    </div>
    <button type="submit" class="btn btn-primary">Publish</button>
</form>
<%- include('partials/footer')-%>